/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Delius+Unicase|Droid+Serif");
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
body,
.container-fluid,
.row {
  padding: 0px;
  margin: 0px;
}

/* line 15, ../sass/style.scss */
h1 {
  font-size: 45px;
  font-family: 'Delius Unicase', cursive;
  text-align: center;
  margin-top: 25px;
  color: #fff;
  text-shadow: 0px 5px 10px #ccc;
}

/* line 24, ../sass/style.scss */
h2 {
  font-size: 30px;
  font-family: 'Droid Serif', serif;
  text-shadow: 0px 5px 10px #ececd7;
}

/* line 30, ../sass/style.scss */
h3 {
  font-size: 24px;
  font-family: 'Droid Serif', serif;
}

/* line 35, ../sass/style.scss */
p {
  font-family: 'Droid Serif', serif;
  font-size: 17px;
}

/* line 40, ../sass/style.scss */
#header {
  width: 100%;
  min-height: 100vh;
  background: url(../img/hea.png);
  background-size: cover;
  background-color: #b2eef7;
}
/* line 46, ../sass/style.scss */
#header h1 {
  padding: 20px 0px;
  color: #fff;
  font-weight: bold;
  text-shadow: 4px 4px 2px #969696;
}
/* line 51, ../sass/style.scss */
#header h1 span {
  color: #000;
}

/* line 57, ../sass/style.scss */
#about {
  width: 100%;
  background: transparent;
}
/* line 60, ../sass/style.scss */
#about h1 {
  color: #fff;
}
/* line 63, ../sass/style.scss */
#about h2 {
  color: #fff;
}
/* line 66, ../sass/style.scss */
#about div {
  display: inline-block;
  padding: 50px;
  text-align: center;
}

/* line 74, ../sass/style.scss */
#princip-wrapper {
  /* IE10+ */
  background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #B2EEF7 50%, #5E818A 95%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #B2EEF7 50%, #5E818A 95%);
  /* Opera */
  background-image: -o-radial-gradient(left top, ellipse farthest-corner, #B2EEF7 50%, #5E818A 95%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(50, #B2EEF7), color-stop(95, #5E818A));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #B2EEF7 50%, #5E818A 95%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at left top, #b2eef7 50%, #5e818a 95%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 25px;
}
/* line 92, ../sass/style.scss */
#princip-wrapper .princip {
  width: 300px;
  margin: auto;
  border: 1px solid #e8e5e5;
  -webkit-box-shadow: 7px 6px 15px -2px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 7px 6px 15px -2px rgba(0, 0, 0, 0.74);
  box-shadow: 7px 6px 15px -2px rgba(0, 0, 0, 0.74);
  margin-top: 20px;
  min-height: 252px;
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=#b2eef7ff&noise=626262&density=66&opacity=47);
}
/* line 103, ../sass/style.scss */
#princip-wrapper img {
  padding-top: 40px;
}
/* line 106, ../sass/style.scss */
#princip-wrapper p {
  text-align: justify;
  padding: 20px 20px;
}

/* line 114, ../sass/style.scss */
#mywork {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: transparent;
}
/* line 123, ../sass/style.scss */
#mywork .container {
  text-align: center;
  width: 320px;
  margin: 20px auto;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 134, ../sass/style.scss */
#mywork .flipper {
  position: relative;
  width: 320px;
  height: 280px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s linear;
  -moz-transition: .7s linear;
  transition: .7s linear;
}
/* line 145, ../sass/style.scss */
#mywork .front,
#mywork .back {
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 10px 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 159, ../sass/style.scss */
#mywork .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=#b2eef700&noise=626262&density=66&opacity=47);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #f5f5f5;
}
/* line 168, ../sass/style.scss */
#mywork .front img {
  width: 100%;
  height: auto;
}
/* line 173, ../sass/style.scss */
#mywork i {
  color: #DCB8B2;
  display: inline-block;
  margin-bottom: 15px;
}
/* line 178, ../sass/style.scss */
#mywork h3 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 15px;
}
/* line 184, ../sass/style.scss */
#mywork p {
  font-size: 14px;
  line-height: 25px;
}
/* line 188, ../sass/style.scss */
#mywork .header h3 {
  color: #18191a;
}
/* line 191, ../sass/style.scss */
#mywork .front p {
  color: #18191a;
}
/* line 194, ../sass/style.scss */
#mywork .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: #DCB8B2;
  color: white;
}
/* line 202, ../sass/style.scss */
#mywork .back h3 {
  position: relative;
}
/* line 205, ../sass/style.scss */
#mywork .back h3:after {
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  background: white;
  margin-left: -25px;
}
/* line 215, ../sass/style.scss */
#mywork .back p {
  padding-top: 15px;
}
/* line 218, ../sass/style.scss */
#mywork .container:hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
